use flake

# DIRTY_NODES=$(curl -m 2 -s 'https://prometheus.srv.vtimofeenko.com/api/v1/query?query=nixos_version_info%20>%200' | jq '.data.result[].metric.alias')
# [ "$(echo -n "$DIRTY_NODES" | wc -l)" -gt 0 ] && printf "$(tput setaf 1)Nodes with dirty version:$(tput sgr0)\n%s\n" "$DIRTY_NODES"
